pipeline/p_CopyProductsCSV_to_SQLDB.json
{
	"name": "p_CopyProductsCSV_to_SQLDB",
	"properties": {
		"activities": [
			{
				"name": "Import CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SellStartDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SellEndDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DiscontinuedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ThumbNailPhoto",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbNailPhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								}
							},
							{
								"source": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_csv_Input_Products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_ProductsStaging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Validate Import Rows",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_CheckProductStaging]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_AdventureWorksLT",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Failure Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-23.westus2.logic.azure.com:443/workflows/b92a5183e73c4e658b7d528514ed416a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=vatH5RAHfdSl4wGNxvmICy7B5Y6GVcfwLorfPyS15wc",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"PipelineStatus": "Completed with Error(s)",
						"ErrorMessage": "@{activity('Validate Import Rows').error.message}",
						"EmailTo": "@{pipeline().parameters.EmailTo}"
					}
				}
			},
			{
				"name": "Send Success Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-23.westus2.logic.azure.com:443/workflows/b92a5183e73c4e658b7d528514ed416a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=vatH5RAHfdSl4wGNxvmICy7B5Y6GVcfwLorfPyS15wc",
					"body": {
						"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n    \"PipelineStatus\":\n        \"Completed Successfully\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "xiaomin.xu@gmail.com"
			}
		},
		"annotations": []
	}
}